@page
@model BookApp.Pages.BookLList.IndexModel
@{
}


<div class="container">
    <div class="row">
        <div class="col-9">
            <h2 class="text-info">Books List</h2>
        </div>
        <div class="col-3">
            <a asp-page="CreateBook" class="btn btn-lg btn-success form-control">Create New Book</a>
        </div>
    </div>

    <div class="row">
        <div class="col-12 border border-dark p-5 mt-5">
            <form method="post">
                @if (Model.Books.Count() > 0)
                {
                    <table class="table table-bordered table-striped">
                        <tr class="table-secondary">
                            <th>
                                <label asp-for="Books.FirstOrDefault().BookName"></label>
                            </th>
                            <th>
                                <label asp-for="Books.FirstOrDefault().Author"></label>
                            </th>
                            <th>
                                <label asp-for="Books.FirstOrDefault().BookGenre"></label>
                            </th>
                        </tr>
                        @foreach (var item in Model.Books)
                        {

                            <tr>
                                <td>
                                    @Html.DisplayFor(m => item.BookName);
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.Author);
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.BookGenre);
                                </td>
                                <td>
                                    <a class="btn btn-danger btn-sm text-white">Delete</a>
                                    <a class="btn btn-info btn-sm" asp-page="EditBook" asp-route-id="@item.CreateID">Edit</a>
                                </td>
                            </tr>


                        }
                    </table>
                }
                else
                {
                    <p class="text-black-50"> No Books are available</p>
                }
            </form>
        </div>
    </div>


</div>